/.godot/
*.tmp
*.translation
export_presets.cfg
!/tests/integration/clean_project/export_presets.cfg
/android/
/native/android/.gradle/
/native/android/build/
/native/android/plugin/build/
/native/android/store_review/build/
/native/android/local.properties
/native/ios/build/
/native/ios/.sconsign.dblite
/native/ios/gamecenter/*.d
/native/ios/gamecenter/*.o
/native/ios/storereview/*.d
/native/ios/storereview/*.o
